<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070431489619-d8e02egge9r9tb9k1ivsdut2ouob0bvs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070431489619-d8e02egge9r9tb9k1ivsdut2ouob0bvs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1070431489619-1315b1vos91lo3omvcgb5533t7rg8gv6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBavFhshl-sV-yva2BDm53iXVJw7XPfyE0</string>
	<key>GCM_SENDER_ID</key>
	<string>1070431489619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.BigMoney</string>
	<key>PROJECT_ID</key>
	<string>bigproject-3043c</string>
	<key>STORAGE_BUCKET</key>
	<string>bigproject-3043c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070431489619:ios:0534c59521f387daa7c0a6</string>
	<key>DATABASE_URL</key>
	<string>https://bigproject-3043c.firebaseio.com</string>
</dict>
</plist>